[Unit]
Description=Battleships Game

[Service]
Type=simple
User=battleships
Group=battleships
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4793"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/battleships/Battleships
ExecStart=/home/battleships/Battleships/start.sh

[Install]
WantedBy=multi-user.target
