<div class="form-entry-hungry-wrapper">
	<p>What is your price range?</p>
	<form class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<div class="col-xs-9">
					<div class="radio-button-option">
						<input name="options" ng-control="options" type="radio" [value]="1" [(ngModel)]="price"> $ (Under $10)
					</div>
					<div class="radio-button-option">
						<input name="options" ng-control="options" type="radio" [value]="2" [(ngModel)]="price"> $$ ($11-$30)
					</div>
					<div class="radio-button-option">
						<input name="options" ng-control="options" type="radio" [value]="3" [(ngModel)]="price"> $$$ ($31-$60)
					</div>
					<div class="radio-button-option">
						<input name="options" ng-control="options" type="radio" [value]="4" [(ngModel)]="price"> $$$$ (Above $61)
					</div>
					<div class="radio-button-option">
						<span><button type="button" class="btn btn-primary" (click)="emitResponse()">Submit</button></span>
						<span><button type="button" class="btn btn-info" (click)="emitSkipResponse()">Skip</button></span>
						<span><button type="button" class="btn btn-secondary" (click)="emitBackResponse()">Go Back</button></span>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>