.profile-edit-container {
  width: 50%;
  margin: 50px auto;
}

.profile-edit-container h1 {
  margin-bottom: 32px;
}

.profile-edit-label {
  text-align: left;
  display: inline-block;
  width: 100%;
}

.profile-edit-input {
  margin-bottom: 32px;
}

.submit-button {
  height: 100%;
  width: 25%;
}

.profile-edit-input.passwords-fail {
  border-color: red;
}

.profile-edit-label-error {
  display: inline-block;
  text-align: center;
  color: red;
  width: 100%;
}
