<div class="form-entry-hungry-wrapper">
	<p>First off. Are you hungry?</p>
	<form class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<div class="col-xs-9">
					<div class="radio-button-option">
						<input name="options" ng-control="options" type="radio" [value]="true" [(ngModel)]="hunger"> Yes
					</div>
					<div class="radio-button-option">
						<input name="options" ng-control="options" type="radio" [value]="false" [(ngModel)]="hunger"> No
					</div>
					<div class="radio-button-option">
						<span><button type="button" class="btn btn-primary" (click)="emitResponse()">Submit</button></span>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>