[Unit]
Description=hw03 app

[Service]
Type=simple
User=hw03
Group=hw03
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4791"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw03/hw3-elixir-practice
ExecStart=/home/hw03/hw3-elixir-practice/start.sh

[Install]
WantedBy=multi-user.target